<html>
<body>
<script type="text/javascript" src="/static/fb.js"></script>
<script type="text/javascript">
var base_url = '{{base_url}}';
var FB_perms = 'user_groups';

//fbInit(popupLogin);
fbInit(windowLogin);

function popupLogin() {
    FB.getLoginStatus(function(response) {
        if (!(response.status === 'connected')) {
            FB.login(function(connect_response) {
                if (!(connect_response.status === 'connected')) {
                    failLogin();
                } else {
                    loadPage(connect_response);
                }
            }, {scope: FB_perms});
        } else {
            loadPage(response.authResponse.accessToken);
        }
    });
}

function windowLogin() {
    fbWindowLogin(FB_perms, loadPage, failLogin);
}

function failLogin() {
    alert('Sorry, this page will not work without authorization.');
}

function loadPage(access_token) {
    window.location.href = base_url + '?access_token=' + access_token;
}

function testAPI() {
    console.log('Welcome!  Fetching your information...');
    FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
    });
}
</script>

<h1>Loading...</h1>
</body>
</html>
